<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Learning Ejs</title>
    <link href="../../public/stylesheets/style.css" rel="stylesheets" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating EJS</p>
      </div>
      <div>
        <img src = "/images/<%= imageName %>" class="img-fluid col-lg-4 col-offset-1" > 
      </div>
    </main>
  </body>
</html>
